* {
    margin: 0;
    padding: 0;
}
.board {
    border: 1px solid black;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    font-size: 8px;
}

.pixel {
    transition-duration: 5s;
    box-sizing: border-box;
    border: 1px solid lightgray;

}

.pixel:hover {
    background-color: red;
    transition-duration: 200ms;
}